<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Solvers</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb663249886635250</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>663249886635250</string>
	<key>FacebookClientToken</key>
	<string>fdbfcf3416fa141d0e65a18992dd6149</string>
	<key>FacebookDisplayName</key>
	<string>Solvers</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoibHVpcy1zb2x2ZXJzIiwiYSI6ImNtaTZla2k2ZzJxY3Yyam9sd3d4c2JoeDIifQ.za22tuYJ06Tf8mseJJMqmQ</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Esta app necesita acceso a la cámara para que puedas tomar fotos de tus documentos.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Tu aplicación necesita acceso a la ubicación para proporcionar servicios basados en mapas.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Tu aplicación necesita acceso a la ubicación para mostrar mapas.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta app necesita acceso a tu fototeca para que puedas seleccionar y subir imágenes.</string>
	<key>NSPushNotificationUsageDescription</key>
	<string>Esta aplicación te enviará notificaciones para mantenerte informado.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Esta aplicación te enviará notificaciones para mantenerte informado.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Esta aplicación utiliza el seguimiento para mejorar tu experiencia y mostrarte contenido personalizado.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Italiana-Regular.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>SofiaSans-Black.ttf</string>
		<string>SofiaSans-BlackItalic.ttf</string>
		<string>SofiaSans-Bold.ttf</string>
		<string>SofiaSans-BoldItalic.ttf</string>
		<string>SofiaSans-ExtraBlack.ttf</string>
		<string>SofiaSans-ExtraBlackItalic.ttf</string>
		<string>SofiaSans-ExtraBold.ttf</string>
		<string>SofiaSans-ExtraBoldItalic.ttf</string>
		<string>SofiaSans-ExtraLight.ttf</string>
		<string>SofiaSans-ExtraLightItalic.ttf</string>
		<string>SofiaSans-HairLine.ttf</string>
		<string>SofiaSans-HairLineItalic.ttf</string>
		<string>SofiaSans-Italic.ttf</string>
		<string>SofiaSans-Light.ttf</string>
		<string>SofiaSans-LightItalic.ttf</string>
		<string>SofiaSans-Medium.ttf</string>
		<string>SofiaSans-MediumItalic.ttf</string>
		<string>SofiaSans-Regular.ttf</string>
		<string>SofiaSans-SemiBold.ttf</string>
		<string>SofiaSans-SemiBoldItalic.ttf</string>
		<string>SofiaSans-Thin.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>El</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
